*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}
body {
  margin: 0;
  width: 100%;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
.m-y-20 {
  margin: 20px 0;
}
.m-y-10 {
  margin: 10px 0;
}
.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.theme-blue {
  color: #007ae9;
}
.dream-team {
  padding: 128px 16px;
  background: linear-gradient(90.02deg, #25335a 0.02%, #141824 113.01%);
  color: #fff;
}
.text-align-center {
  text-align: center !important;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 65vh;
  background-color: #f5f5f5;
}
section:nth-of-type(1) {
  animation: backgrounder 30s linear infinite;
}
section:nth-of-type(2) {
  animation: backgrounder 30s linear infinite;
}
section:nth-of-type(3) {
  animation: backgrounder 30s linear infinite;
}
section .section-heading {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.93);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  z-index: 9996;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #333;
  color: white;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 48rem) {
  .grid-container {
    padding: 0 20px;
  }
}
.grid-container.full {
  max-width: 100%;
  padding: 0 10px;
}
@media (min-width: 48rem) {
  .grid-container.full {
    padding: 0 20px;
  }
}
.grid-container .grid-x {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cell {
  display: flex;
  width: 100%;
  margin: 10px auto;
}
.top-bar .grid-x {
  flex-wrap: nowrap;
}
.upperCase {
  text-transform: uppercase;
}
.widget {
  margin: 20px 0;
}
.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.m-x-0 {
  margin-right: 0;
  margin-left: 0;
}
/**SECTION 1**/
.dark-mode {
  margin-left: auto;
  order: 2;
}
#roman .m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}
#roman .m-x-0 {
  margin-right: 0;
  margin-left: 0;
}
#roman .d-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  #roman .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #roman .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #roman .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #roman .col-sm-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#roman h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 32px;
}
#roman .widget {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
#roman .background-img {
  background-color: #bcd1ff;
  height: 100%;
}
#roman .widget-img {
  display: flex;
  margin: 0 auto;
  height: 100%;
  padding: 40px;
}
#roman .widget-img {
  max-width: 100%;
}
#roman .w-100 {
  width: 100%;
}
#roman .inline {
  padding: 0 1.25rem;
  display: inline-block;
}
#roman .left {
  float: left;
  color: #6e798c;
}
#roman .right {
  float: right;
  color: #6e798c;
}
#roman .widget-header {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
#roman .widget-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
#roman .widget-footer {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
#roman .separator {
  margin: 1.25rem;
  border: 1px solid #ebeced;
}
#roman .widget-text {
  color: #374a59;
}
#roman .no-gutters {
  padding: 0;
}
#roman .justify-content-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#roman p > .bold {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 20px;
  color: #081f32;
}
#roman p > .tin {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 12px;
  color: #6e798c;
}
#roman .theme-dark {
  background: linear-gradient(90.02deg, #25335a 0.02%, #141824 113.01%);
}
/**END SECTION 1**/

/* Ozarko section */

.onv * {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.onv {
  position: relative;
  min-height: 110vh;
  width: 100%;
  background: url('https://i.ya-webdesign.com/images/background-shapes-png-17.png')
    no-repeat center center/cover;
}

.onv .onv-box {
  min-height: 110vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onv .onv-switch {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onv .switch-container {
  width: 70px;
  height: 37px;
  margin: 0 20px;
  border: 2px solid #333;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.onv .switch-container.move {
  background: transparent;
  border: 1px solid rgba(219, 219, 219, 0.1);
  overflow: hidden;
  /* box-shadow: 0 1px 24px rgba(0, 0, 0, 0.4); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.onv .style-switch {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.onv .switch-container-box {
  width: 30px;
  height: 30px;
  background: #8d3af3;
  border-radius: 50%;
  margin: 0 3px;
  transition: transform 300ms;
}

.onv .switch-container.move .switch-container-box {
  transform: translateX(100%);
  background: rgba(31, 38, 135, 0.47);
  border: 1px solid rgba(219, 219, 219, 0.1);
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* Ozarko standart style */

.onv .onv-cards {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.onv .price-card {
  position: relative;
  margin-top: 50px;
  padding: 30px;
  width: 344px;
  height: 600px;
  background: #fff;
  margin-right: 40px;
  border: none;
  border-radius: 15px;
  transition: transform 0.4s ease-in, background 0.4s ease-in;
}

.onv .price-card:nth-child(3) {
  margin-right: 0;
}

.onv .price-card:hover {
  transform: scale(1.04);
}

.onv .price {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #a5adbb;
  font-size: 16px;
}

.onv .price > span {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: #081f32;
}

.onv .license {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 28px;
}

.onv .first-card .license {
  color: #f3b10e;
}

.onv .second-card .license {
  color: #1dabf2;
}

.onv .third-card .license {
  color: #46d68c;
}

.onv .price-desc {
  font-family: 'Open Sans', sans-serif;
  color: #92969d;
  font-size: 16px;
  font-weight: 200;
}

.onv .line {
  width: 290px;
  height: 1.5px;
  margin: 30px 0;
  background-color: #ebeced;
}

.onv .features-list {
  list-style: none;
}

.onv .features-item {
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6e798c;
}

.onv .features-item > i {
  margin-right: 10px;
}

.onv .first-card .features-item > i {
  color: #f3b10e;
}

.onv .second-card .features-item > i {
  color: #1dabf2;
}

.onv .third-card .features-item > i {
  color: #46d68c;
}

.onv .btn {
  margin-top: 60px;
  width: 100%;
  padding: 13px;
  border: 0;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.onv .btn:focus {
  outline: none;
}

.onv .basic-btn {
  color: #798289;
  background: #ebeced;
}

.onv .social-btn {
  border: 2px solid #798289;
  background: transparent;
}

.onv .marketing-btn {
  background: #46d68c;
  border: 2px solid #46d68c;
  color: #fff;
}

/* Start glass section */

.onv .onv-cards.glass .price-card {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(219, 219, 219, 0.1);
  border-radius: 4vmin;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.onv .onv-cards.glass .price-card:hover {
  background: rgba(255, 255, 255, 0.6);
}

.onv .onv-cards.glass .btn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 0px solid rgba(255, 255, 255, 0.18);
}

.onv .onv-cards.glass .basic-btn {
  background: #f1f1f1;
  box-shadow: 0 3px 12px 0 rgba(243, 177, 14, 0.37);
}

.onv .onv-cards.glass .social-btn {
  border: 2px solid rgba(219, 219, 219, 0.6);
  box-shadow: 0 8px 32px 0 rgba(29, 171, 242, 0.37);
}

.onv .onv .onv-cards.glass .marketing-btn {
  border: 2px solid rgba(219, 219, 219, 0.6);
  background: transparent !important;
  box-shadow: 0 8px 32px 0 rgba(70, 214, 140, 0.37);
}

.onv .onv-cards.glass .second-card .social-btn:hover,
.onv .onv-cards.glass .third-card .marketing-btn:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.onv .onv-cards.glass .second-card .social-btn:hover {
  box-shadow: 0 8px 32px 0 rgba(29, 171, 242, 0.7);
}

.onv .onv-cards.glass .third-card .marketing-btn:hover {
  box-shadow: 0 8px 32px 0 rgba(70, 214, 140, 0.7);
}

.onv .onv-cards.glass .marketing-btn {
  background: rgba(70, 214, 140, 0.6);
  color: #141824;
}

/* Ozarko media */

@media (max-width: 1200px) {
  .onv .onv-cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .onv .price-card {
    margin: 10px;
  }
}
